@reference '../../../style/tailwind.css';

:where(.ant-row) {
  @apply flex flex-wrap;
  box-sizing: border-box;
  font-family: var(--ant-font-family);
}

:where(.ant-col) {
  position: relative;
  max-width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}
