@reference '../../../style/tailwind.css';

:where(.ant-app) {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size, 14px);
  color: var(--color-neutral, rgba(0, 0, 0, 0.88));
  line-height: var(--ant-line-height, 1.5714);
}
