@reference '../../../style/tailwind.css';

:where(.ant-space) {
  @apply inline-flex;
  font-family: var(--ant-font-family);
}

:where(.ant-space).ant-space-vertical {
  @apply flex-col;
}

:where(.ant-space).ant-space-align-start {
  @apply items-start;
}

:where(.ant-space).ant-space-align-end {
  @apply items-end;
}

:where(.ant-space).ant-space-align-center {
  @apply items-center;
}

:where(.ant-space).ant-space-align-baseline {
  @apply items-baseline;
}

/* RTL support */
:where(.ant-space).ant-space-rtl {
  direction: rtl;
}

/* Compact */
:where(.ant-space-compact) {
  @apply inline-flex items-stretch;
}

:where(.ant-space-compact).ant-space-compact-block {
  @apply flex w-full;
}

:where(.ant-space-compact).ant-space-compact-vertical {
  @apply flex-col;
}

/* Compact align support */
:where(.ant-space-compact).ant-space-compact-align-start {
  @apply items-start;
}

:where(.ant-space-compact).ant-space-compact-align-end {
  @apply items-end;
}

:where(.ant-space-compact).ant-space-compact-align-center {
  @apply items-center;
}

:where(.ant-space-compact).ant-space-compact-align-baseline {
  @apply items-baseline;
}

/* Compact RTL support */
:where(.ant-space-compact).ant-space-compact-rtl {
  direction: rtl;
}
